html {
		background-color: mediumturquoise;

}
#homebox {
	background-color: mediumturquoise;
}

#mebox {
	float: left;
	padding-right: 15px;
}
#bannerbox {
	height: 100px;
	background: linear-gradient(to top, mediumturquoise, lightsteelblue);
	text-align: center;
	padding-top: 80px;
	color: white;
	font-size: 25px;
}

#mainbox {
	background-color: lightsteelblue;
	padding-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer {
	text-align: center;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 30px;
  	background-color: ghostwhite;
  	color: purple;
}

.mynav {
	width: 30%;
	margin-top: 15px;
}

a.mynav:hover {
	background-color: black;
	color: white;
}

#navbox {
	text-align: center;
}

#headerlogo {
	background-color: red;
	height: 63.75px;
	border-radius: 7px;
	border: 5px solid hotpink;
}

#homelogo {
	background-color: darkslateblue;
	border: 2px solid aquamarine;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
}

#aboutbox {
	padding: 20px
}

#routerbox {
	height: 400px;
	overflow: auto;
	padding:5px;
}

.pimgbox {
	float: left;
	height: 100px;
	width: 30%;
}

#socialbox {
	text-align: center;
}

.biotext {
	font-size: 15px;
	font-style: georgia;
}

li.portitem {
	border: 0 none;
}

#portfoliobox {
	padding-top: 10px;
}

#ctcname, #ctcemail {
	height: 30px;
}

#ctcmsg {
	height: 100px;
	overflow: auto;
}

#hollerbtn {
	background-color: red;
	color: white;
}

#hollerbtn:hover{
	background-color: green;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}