body {
		background-color: mediumturquoise;

}
#homebox {
	background-color: mediumturquoise;
}

#mebox {
	float: left;
	padding-right: 15px;
}
#bannerbox {
	height: 140px;
	background: linear-gradient(to top, mediumturquoise, lightsteelblue);
	text-align: center;
	padding-top: 80px;
	color: white;
	font-size: 25px;
}

#mainbox {
	background-color: lightsteelblue;
	padding-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer {
	text-align: center;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 30px;
  	background-color: white;
  	color: purple;
}

.mynav {
	width: 30%;
	margin-top: 15px;
}

#navbox {
	text-align: center;
}

#headerlogo {
	background-color: red;
	height: 63.75px;
}

#homelogo {
	background-color: plum;
	text-align: center;
	margin-bottom: 20px
}

#aboutbox {
	padding: 20px
}

#routerbox {
	height: 350px;
	overflow: auto;
	padding:5px;
}

.pboxx {
}

.pimgbox {
	float:left;
	height: 100px;
	background-color: black;
	margin-right: 20px;
}

#socialbox {
	text-align: center;
}

.biotext {
	font-size: 15px;
	font-style: georgia;
}