			<div class="panel" id="routerbox">

				<div id="aboutbox">
					<div id="mebox">
						<img src="assets/images/celfie.jpg" alt="picture of MY FACE" class="img-rounded">
					</div>

					<p class="biotext"> My name is Josh, I am a developer and an enthusiastic problem solver that is comfortable with a lot of responsibility and thrives in a team environment. While I have the most fun building creative back-end solutions, I do have passion and a knack (if I may say so myself) for UI/UX design. I am looking for the right place to cut my teeth and to grow into a software engineering role. Though a little fresh, I am smart, humble, and above all, excited to begin my career! 
					</p>

				</div>


				<div id="portfoliobox">
					<ul class="list-group">
						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://typsy-000.herokuapp.com/" target="_blank">
									<img src="assets/images/typsy.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Typsy</strong> - the anti-Tinder </p>
								<p> <small><i>react,socket.io,node,express,bootstrap,mysql,sequelize,axios</i></small> </p>
								<a href="https://github.com/gwevans/typsy"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://frozen-spire-32554.herokuapp.com/" target="_blank">
									<img src="assets/images/ff.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Fantastic Football</strong> - a modest fantasy football project </p>
								<p> <small><i>node,express,mysql,jQuery,sequelize,bootstrap</i></small> </p>
								<a href="https://github.com/jtkao/fantasticfootball"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://secure-mountain-42301.herokuapp.com/" target="_blank">
									<img src="assets/images/krabby.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Burgergod</strong> - a burger joint emulator </p>
								<p> <small><i>mysql,sequelize,node,express,jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/sequelizedburger"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://shielded-hamlet-46858.herokuapp.com/" target="_blank">
									<img src="assets/images/sm.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Sugar Mamas</strong> - a sugar consciousness app</p>
								<p> <small><i>jQuery,ajax,firebase,bootstrap</i></small> </p>
								<a href="https://github.com/jtkao/sugarMamas00"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://github.com/jtkao/week6Assignment" target="_blank">
									<img src="assets/images/tyrone.jpg" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Chappelle's Show Trivia</strong> - a fun class assignment leveraging the javascript timer</p>
								<p> <small><i>jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/TriviaGame"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://thawing-ridge-13406.herokuapp.com/" target="_blank">
									<img src="assets/images/rps.jpg" alt="project" class="img-rounded">
								</a>
							</div>

							<div>
								<p> <strong>RPS Flame</strong> - a Rock,Paper,Scissors game </p>
								<p> <small><i>firebase,jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/rpsflame"> <small>github</small> </a>
							</div>
						</li>

					</ul>
				</div>

				<div id="contactbox">
					<div id="socialbox" class="panel">
						<a href="https://www.linkedin.com/in/joshua-kao-063ba6132/" target="_blank">
							<img src="assets/images/linkedin.png">
						</a>
						<a href="https://github.com/jtkao" target="_blank">
							<img src="assets/images/github.png">
						</a>
					</div>
					<div id="formbox" class="container-fluid">
						<form id="ctcform">
							<div class="form-group">
								<label for="name">name</label>
								<input type="text" class="form-control" id="ctcname" placeholder="name">
							</div>
							<div class="form-group">
								<label for="email">email</label>
								<input type="email" class="form-control" id="ctcemail" placeholder="email">
							</div>
							<div class="form-group">
								<label for="email">message</label>
								<input type="text" class="form-control" id="ctcmsg" placeholder="talk to you soon">
							</div>
							<button type="submit" class="btn btn-default">holler</button>
						</form>
					</div>
				</div>

			</div>
