			<div class="panel" id="routerbox">

				<div id="aboutbox">
					<div id="mebox">
						<img src="assets/images/celfie.jpg" alt="picture of MY FACE" class="img-rounded">
					</div>

					<p class="biotext"> Hello! My name is Josh – I am a recent graduate from the Coding Bootcamp at UCSD Extension, and would love the opportunity to demonstrate my ability to fit this open Software Engineer role. I am a strong, disciplined JavaScript/Node Developer with solid MySQL experience alongside multiple front-end frameworks. I graduated from UC Irvine in June 2015 with a BA in English, took my first programming class in August 2016 at Orange Coast Community College, and shortly after in January 2017 began my formal education in web development at UCSD – dates and details aside, I am a quick study, unafraid to take risks and challenge myself, and highly motivated to perfect my craft. 
					</p>

					<p class="biotext"> I've complied a small playlist of music I like to code to. It's said the eyes are the windows to the soul but unfortunately I thick wear contacts, so you'll just have to press play to get to know me. 
					</p>


				</div>




				<div id="portfoliobox">

					<ul class="list-group">
						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://meathead00.herokuapp.com/" target="_blank">
									<img src="assets/images/meat.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Meathead</strong> - A minimalist training log </p>
								<p> <small><i>handlebars,jquery,node,express,bootstrap,mysql</i></small> </p>
								<a href="https://github.com/jtkao/meathead"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://typsy-000.herokuapp.com/" target="_blank">
									<img src="assets/images/typsy.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Typsy</strong> - the anti-Tinder </p>
								<p> <small><i>react,socket.io,node,express,bootstrap,mysql,sequelize,axios</i></small> </p>
								<a href="https://github.com/gwevans/typsy"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://frozen-spire-32554.herokuapp.com/" target="_blank">
									<img src="assets/images/ff.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Fantastic Football</strong> - a modest fantasy football project (log in with demo/demo) </p>
								<p> <small><i>node,express,mysql,jQuery,sequelize,bootstrap</i></small> </p>
								<a href="https://github.com/jtkao/fantasticfootball"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://secure-mountain-42301.herokuapp.com/" target="_blank">
									<img src="assets/images/krabby.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Burgergod</strong> - a burger joint emulator </p>
								<p> <small><i>mysql,sequelize,node,express,jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/sequelizedburger"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://shielded-hamlet-46858.herokuapp.com/" target="_blank">
									<img src="assets/images/sm.png" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Sugar Mamas</strong> - a sugar consciousness app</p>
								<p> <small><i>jQuery,ajax,firebase,bootstrap</i></small> </p>
								<a href="https://github.com/jtkao/sugarMamas00"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://github.com/jtkao/week6Assignment" target="_blank">
									<img src="assets/images/tyrone.jpg" alt="project" 
									class="img-rounded img-fluid">
								</a>
							</div>

							<div>
								<p> <strong>Chappelle's Show Trivia</strong> - a fun class assignment leveraging the javascript timer</p>
								<p> <small><i>jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/TriviaGame"> <small>github</small> </a>
							</div>
						</li>

						<li class="list-group-item container-fluid portitem">
							<div class="pimgbox">
								<a href="https://github.com/jtkao/rpsflame" target="_blank">
									<img src="assets/images/rps.jpg" alt="project" class="img-rounded">
								</a>
							</div>

							<div>
								<p> <strong>RPS Flame</strong> - a Rock,Paper,Scissors game </p>
								<p> <small><i>firebase,jQuery,html/css</i></small> </p>
								<a href="https://github.com/jtkao/rpsflame"> <small>github</small> </a>
							</div>
						</li>

					</ul>
				</div>




				<div id="contactbox">
					<div id="socialbox" class="container-fluid">
						<a href="https://www.linkedin.com/in/joshua-kao-063ba6132/" target="_blank">
							<img src="assets/images/linkedin.png">
						</a>
						<a href="https://github.com/jtkao" target="_blank">
							<img src="assets/images/github.png">
						</a>
					</div>
					<div id="formbox" class="container-fluid">
						<form id="ctcform">
							<div class="form-group">
								<label for="name"><small>name</small></label>
								<input type="text" class="form-control" id="ctcname" placeholder="name">
							</div>
							<div class="form-group">
								<label for="email"><small>email</small></label>
								<input type="email" class="form-control" id="ctcemail" placeholder="email">
							</div>
							<div class="form-group">
								<label for="email"><small>message</small></label>
								<textarea type="text" id="ctcmsg" placeholder=" talk to you soon!"></textarea>
							</div>
							<button id="hollerbtn" type="submit" class="btn-sm btn">holler.</button>
						</form>
					</div>
				</div>

			</div>
